.markdown :first-child {
  margin-top: 0;
  margin-left: 0;
}

.markdown :last-child {
  margin-bottom: 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  text-decoration: none;
}
.markdown :last-child a {
  color: #4A92FF;
}
.markdown :last-child a:active {
    color: #4A92FF;
}