.post-card .primary .content {
  -webkit-mask-image: linear-gradient(black 175px, transparent 250px);
  mask-image: linear-gradient(black 175px, transparent 250px);
}

.post-card .secondary .title {
  -webkit-mask-image: linear-gradient(black 70px, transparent 125px);
  mask-image: linear-gradient(black 70px, transparent 125px);
}

html {
  overflow-y: scroll;
}



.notificationDot {
  position: relative;
}

.notificationDot::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}